python-dotenv
fastapi 
uvicorn[standard]
jupyterlab
matplotlib
cachetools
pandas
requests
PyJWT

pydantic
wget
PyPDF2

pdf2image
markdownify
openpyxl
pymilvus
tqdm
pickledb
python-multipart

ibm-watsonx-ai


docling

flagembedding
peft
llama-index-readers-file
llama-index-embeddings-huggingface

llama-index-llms-huggingface-api
llama-index-llms-ibm
llama-index-llms-openai
llama-index-vector-stores-milvus
llama-index-readers-docling 
llama-index-node-parser-docling
